.whatwedo-higher {
  margin-top: 30px;
}

.whatwedo-div {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 150px;
}

.whatwedocard-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-subtitle {
  color: #464646;
}

.section-title {
  font-family: 'Klavika Bold';
}
